* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container {
    background-color: #FFC312;
    width: 60vw;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search {
    width: 100vw;
}
.search__button {
    background-color: #2876BB;
    color: #FFF;
}

.images {
    background-color: #FFFFFF;
    width: 25%;
    height: 80%;
    margin: 2%;
    padding: 2%;
}

.images img {
    width: 90%;
    height: auto;
    image-rendering: pixelated;
}

.detail {
    background-color: #F2F2F2;
    width: 60%;
    height: 80%;
    margin: 2%;
    padding: 2%;
}